.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
	border-collapse: collapse;
}

.header {
	background-color: grey;
	color: white;
	height: 2rem;
	border: 1px solid black;
}

.headers {
  /* Remove button stylings */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	width: 100%;
	padding-left: 0.5rem;
}

.sorter {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.rows {
	height: 2rem;
}

.cell {
	border: 1px solid black;
	padding-left: 0.5rem;
}